* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
#main {
  flex-grow: 1;
  height: 2600px;
  background-color: 
  #FFFFFF;
}
#head, #contacts {
  flex-shrink: 0;
  height: 100px;
  background-color: #628391;
}
#head  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#div_navig nav, ul, li, a{
 text-decoration: none;
 list-style-type: none;
 color: 
 #FFFFFF;
 display: flex;
 flex-direction: row;
 margin: 10px 30px 10px 0px;
 font-size: 22px;
}
#div_con_add {
  text-decoration: none;
  list-style-type: none;
  color: 
  #FFFFFF;
  display: flex;
  flex-direction: row;
  margin: 26px 30px 10px 0px;
  font-size: 22px;
}
#div_con_add span {
  margin-left: 30px;
}
#img_one {
  background-image: url(../pictures/costums.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 480px;
  border: 3px #628391 solid;
  border-radius: 35px;
  margin: 60px 0px 10px 60px;
}
#text_for_img_one {
  width: 666px;
  height: 80px;
  background-color: #628391;
  color: 
  #FFFFFF;
  border: 3px rgb(0, 36, 56) solid;
  border-radius: 35px;
  margin: 0px 60px 100px 60px;
  padding: 30px;
  font-size: 36px;
  background: linear-gradient(91.83deg, #628391 4.34%, #1D262B 206.31%);
}
#img_two {
  background-image: url(../pictures/maniken.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 480px;
  border: 3px #628391 solid;
  border-radius: 35px;
  margin: 0px 0px 10px 60px;
}
#text_for_img_two {
  margin-top: 50px;
}
.buttons:hover {
  transition: 1.25s ease;
  background-color: azure;
  color: #1D262B;
  background: linear-gradient(9191.83deg, beige 4.34%, azure 206.31%);
}
.buttons {
  transition: 0.325s;
  width: max-content;
  height: max-content;
  padding: 16px;
  background-color: #628391;
  border-radius: 100px;
  border: 3px rgb(0, 36, 56) solid;
  font-size: 24px;
  color: 
  #FFFFFF;
  background: linear-gradient(91.83deg, #628391 4.34%, #1D262B 206.31%);
}
#btn_one {
  transition: 0.325s;
  width: 720px;
  height: max-content;
  padding: 16px;
  margin: 10px 0px 0px 60px;
}
#btn_two {
  transition: 0.325s;
  width: 720px;
  height: max-content;
  padding: 16px;
  margin: 14px 0px 10px 60px;
}
#div_img_two {
  margin-right: 60px;
}
#div_img_main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#table_two_main {
  padding: 30px 0;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: 
  #EDEDED;
}
#woomen {
  background-image: url(/pictures/women.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 800px;
  border-radius: 35px;
  margin: 60px 0px;
  border: 3px #628391 solid;
}
#infos {
  width: 600px;
  height: 680px;
  border: 3px #1D262B solid;
  border-radius: 35px;
  margin: 60px 0;
  padding: 60px;
}